{% macro create(params) %}
  <div class="modal_1">
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content" onclick="goto('{{ params.offer_url }}');">
        ################
      </div>
      <button class="modal-close is-large" aria-label="close" onclick="hideModals();"></button>
    </div>
  </div>

  <script>
    addEvent(document, "mouseleave", function(e) {
      showModals();
    });

    {% if params.delay | default(0, true) > 0 %}
      setTimeout(showModals, {{ params.delay }});
    {% endif %}
  </script>
{% endmacro %}