{% macro create(params) %}
  <div class="modal_1">
    <div class="modal modal-fx-3dFlipVertical">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image" onclick="goto('{{ params.offer_url }}');">
        {{ params.content | safe }}
      </div>
      <button class="modal-close is-large" aria-label="close" onclick="hideModals();"></button>
    </div>
  </div>

  <script>
    addEvent(document, "mouseleave", function(e) {
    });

    {% if params.delay | default(0, true) > 0 %}
      setTimeout(showModals, {{ params.delay * 1000 }});
    {% endif %}
  </script>
{% endmacro %}