{% if pagination.pages.length > 1 %}
  <div class="container is-widescreen px-2 py-6">
    <nav class="pagination" role="navigation" aria-label="pagination">
      {% if pagination.href.previous %}
        <a class="pagination-previous" href="{{ pagination.href.previous }}">Previous</a>
        {% else %}
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
      {% endif %}
      {% if pagination.href.next %}
        <a class="pagination-next" href="{{ pagination.href.next }}">Next page</a>
      {% else %}
        <a class="pagination-previous" title="This is the last page" disabled>Next page</a>
      {% endif %}
      <ul class="pagination-list">
        {% set current = pagination.pageNumber + 1 %}
        {% set delta = 2 %}
        {% set left = current - delta %}
        {% set right = current + delta %}
        {% set last_shown = 0 %}

        {% for p in pagination.pages %}
          {% set is_current = page.url === pagination.hrefs[ loop.index0 ] %}
          {% if loop.index == 1 or loop.index == loop.length or (loop.index >= left and loop.index <= right) %}
            <li>
              <a class="pagination-link{{ " is-current" if is_current }}" aria-label="Goto page {{ loop.index }}" href="{{ pagination.hrefs[loop.index0] }}" {{ "aria-current=\"page\"" | safe if is_current }}>{{ loop.index }}</a>
            </li>
            {% set last_shown = loop.index %}
          {% elif loop.index - last_shown == 1 %}
            <li>
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}