{% macro create_iframe(url) -%}
  <iframe src="{{ url }}" onload="showBanners()" referrerpolicy="no-referrer" sandbox="allow-forms allow-same-origin allow-scripts">
    <div class="notification is-warning">
      <center>Your current browser is outdated.</center>
    </div>
  </iframe>
{%- endmacro %}

{% import "macros/banners/bottom_panel_1.html" as bottom_panel_1 %}

{% macro create_banners(items) %}
  {% for item in items %}
    {% if item.type == "bottom_panel_1" %}
      {{ bottom_panel_1.create(item.params) }}
    {% elif false %}
      stub
    {% else %}
      {% include item.type + ".html" %}
    {% endif %}
  {% endfor %}
{% endmacro %}