{% include "layouts/shared/ga.html" %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title }}</title>
<link rel="canonical" href="https://www.genuinetrends.com{{ page.url }}">

{% include "layouts/shared/seo.html" %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<link rel="stylesheet" href="/assets/css/trend.css">
<link rel="stylesheet" href="/assets/css/post.css">
<link rel="stylesheet" href="/assets/css/banners/bottom_panel_1.css">
<link rel="stylesheet" href="/assets/css/banners/modal.css">

<script src="/assets/js/common.js"></script>
<script src="/assets/js/posts.js"></script>