<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{{og_type}}">
<meta property="og:image" content="{{ image }}">

{% if iframe_url %}
  <meta property="og:site_name" content="aweber.com">
  <meta property="og:url" content="{{ iframe_url }}">
{% else %}
  <meta property="og:site_name" content="genuinetrends.com">
  <meta property="og:url" content="https://www.genuinetrends.com{{ page.url }}">
{% endif %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@genuinetrends" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />

<link rel="shortcut icon" href="https://blog.aweber.com/favicon-alt.ico">