<meta name="description" content="{{ description }}">

<meta property="og:site_name" content="genuinetrends.com">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:url" content="https://www.genuinetrends.com{{ page.url }}">
<meta property="og:image" content="{{ image }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@genuinetrends" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />